body {
  background: #98ccd3;
}
p {
  font-size: 13px;
  margin-top: 15px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #ebf0f6;
  position: relative;
  top: 10px;
}
.weatherApp {
  background: #ebf0f6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 530px;
  min-width: 530px;
  max-height: 490px;
  min-height: 490px;
  margin: 30px auto;
  margin-bottom: 20px;
}
.currentLocationButton {
  margin: 10px 2px 10px 45px;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 17px;
  position: relative;
  bottom: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  transition: all 200ms ease-in-out;
}
.currentLocationButton:hover {
  background: rgba(0, 0, 0, 0.2);
}
.searchNewLocation {
  width: 60%;
  height: 30px;
  margin: 5px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.searchButton {
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}
.searchButton:hover {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
}

.location {
  text-align: center;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  margin: 10px;
  color: #364e68;
}
.time {
  font-family: "Space Mono", monospace;
  color: #364e68;
}
.date {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #364e68;
}
.nowTimeDate {
  display: block;
  list-style: none;
  text-align: center;
  padding: 0;
  font-size: 15px;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  line-height: 20px;
  color: #364e68;
}

.riseSetTime {
  font-family: "Space Mono", monospace;
  letter-spacing: -3px;
  margin-right: 25px;
}
.nowRiseSet .riseSetTime {
  font-size: 23px;
  color: #364e68;
}
.wi-sunrise {
  color: #f39422;
}
.wi-sunset {
  color: #f39422;
}
.nowIcon {
  font-size: 70px;
  color: #364e68;
}
.nowDescription {
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
.nowIconDescription {
  display: block;
  position: relative;
  list-style: none;
  text-align: center;
  bottom: 30px;
  color: #364e68;
  font-weight: 600;
}
.temperature {
  font-size: 80px;
  line-height: 100px;
  position: sticky;
  letter-spacing: -5px;
  font-family: "Space Mono", monospace;
  color: #364e68;
}
.nowHighLow {
  display: block;
  list-style: none;
  text-align: center;
  padding: 0;
  font-size: 20px;
  position: sticky;
  font-family: "Space Mono", monospace;
  color: #364e68;
}
.nowAddDescription {
  display: block;
  list-style: none;
  text-align: center;
  padding: 0;
  font-family: "Space Mono", monospace;
  color: #364e68;
}
.windUnit {
  font-family: "Roboto", sans-serif;
}
.weekday {
  font-family: "Roboto", sans-serif;
  position: relative;
  bottom: 7px;
  color: #364e68;
  font-weight: 600;
}
.forecast {
  background: #ebf0f6;
  position: relative;
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #364e68;
}
.forecast i {
  position: relative;
  font-size: 30px;
  border: transparent;
}
.forecastHighLow {
  position: relative;
  top: 12px;
  font-family: "Space Mono", monospace;
  font-size: 14px;
}
.forecastHigh {
  font-weight: 600;
}

.nextDay1 {
  display: block;
  list-style: none;
  text-align: center;
  padding: 0;
  transition: all 200ms ease-in-out;
}
